<!--
    This page will be used to search for and display Company names
-->
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/ReviewService/ReviewService.js"></script>

<h2>Search for companies by name</h2>
<style>
    input[type=text], select {
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 6px;
        width: 250px;
    }
</style>


@using (Html.BeginForm("Search", "CompanyListings", FormMethod.Get, new { id = "searchForm", onsubmit = "return validateSearch()" }))
{
    <p>@ViewBag.Message</p>
    <br />

    @Html.TextBox("textCompanyName", null, new { id = "searchTextBox" })
    <input type="submit" value="Search" class="btn btn-default" />
    <br /><br /><br />


}

@if (ViewBag.Companylist != null)
{
    if (ViewBag.Companylist.companyNames.Length == 0)
    {
        <div id="searchResult" style="color:#FF0000">Your search did not retrun any results. Please try again.</div>
    }
    else
    {
        <h3>Results:</h3>
        <br />
        foreach (string item in ViewBag.Companylist.companyNames)
        {
            @Html.ActionLink(item, "DisplayCompany", "CompanyListings", new { id = item}, null)
            <br />
        }
    }
}

<div id="searchError" style="color:#FF0000"></div>
