
@{
    ViewBag.Title = "Write Review";
}

<h2>Write a Review for @ViewBag.CompanyName</h2>
<style>
    input[type=select], select {
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 6px;
        width: 80px;
    }
</style>
<hr/>

    
<div class="row">
    <div class="col-md-10">
        <textarea style="width:350px" id="textarea" placeholder="Enter your review here" rows="5"></textarea>
    </div>
</div>
<br/>
<div class="row">
    <div style="float:left" class="col-md-1">
        <select name="Stars">
            <option>5 Stars</option>
            <option>4 Stars</option>
            <option>3 Stars</option>
            <option>2 Stars</option>
            <option>1 Star</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div style="float:left" class="col-md-1">
        <input class="btn btn-default" type="button" value="Publish" onclick="location.href='@Url.Action("ReviewCompany", "CompanyListings",  new { id = ViewBag.CompanyName } )'" />
    </div>
</div>

<br />