
@{
    ViewBag.Title = "Write Review";
}
<script type="text/javascript" src="~/Scripts/ReviewService/ReviewService.js"></script>

<style>
    input[type=select], select {
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 6px;
        width: 80px;
    }
</style>

<h2>Write a Review for @ViewBag.CompanyName</h2>
<hr />


<form id="reviewForm" action="/CompanyListings/PublishReview" onsubmit="return validateReview()">
    <div class="row">
        <div class="col-md-10">
            <textarea id="reviewTextBox" style="width:450px; height:200px" name="reviewContent" value="@ViewBag.reviewText" placeholder="Enter your review here" rows="3"></textarea>
            <p style="font-size:16px; color:red">@ViewBag.Error</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div style="float:left" class="col-md-1">
            <select id="selector" ; name="stars">
                <option value="5">5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1">1 Star</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div style="float:left" class="col-md-1">
            <input type="hidden" name="companyName" value=@ViewBag.CompanyName>
            <input class="btn btn-default" type="submit" value="Publish" />
        </div>
    </div>
</form>

<div id="reviewError" style="color:#FF0000"></div>

<p style="font-size:20px;">@ViewBag.Response</p>
<br />